*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;

  background-color: var(--bg-main);
  color: var(--text-primary);

  font-family:
    Inter,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;

  line-height: 1.5;
  font-size: 1.1rem;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas {
  display: block;
  max-width: 100%;
}

svg {
  display: block;

  color: inherit;
  fill: currentColor;
  stroke: currentColor;
}

input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

#root {
  min-height: 100vh;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}